
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f4f6f8; /* Light Gray */
}

main {
    flex: 1 0 auto;
}

.brand-logo i {
    vertical-align: middle;
    margin-right: 10px;
}

.input-field label {
    color: #00796b; /* Teal */
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus + label {
    color: #004d40; /* Dark Teal */
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #004d40;
    box-shadow: 0 1px 0 0 #004d40;
}

.btn, .btn-large, .btn-small {
    background-color: #ffab40; /* Amber */
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #ffc400; /* Amber Accent */
}

.page-footer {
    background-color: #263238; /* Blue Grey */
}

.page-footer .footer-copyright {
    background-color: #1a2327; /* Darker Blue Grey */
}
